@import "tailwindcss";


@font-face {
    font-family: "IgraSans";
    src: url("./shared/fonts/IgraSans.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Raleway";
    src: url("./shared/fonts/Raleway-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Raleway";
    src: url("./shared/fonts/Raleway-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Raleway";
    src: url("./shared/fonts/Raleway-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

@theme {
    --color-primary: #1b1920;
    --color-secondary: #272735;
    --font-sans: "IgraSans", ui-sans-serif, system-ui, sans-serif;
    --font-raleway: "Raleway", ui-sans-serif, system-ui, sans-serif;
    --text-title: 36px;
    --text-subtitle: 24px;
    --text-default: 18px;
    --text-small: 14px;
    --text-xsmall: 12px;
    --color-primaryHover: #403F56;
}



/* Для Firefox */
* {
    scrollbar-width: thin;
}

.react-flow__attribution {
    display: none !important;
}

.scrollbar-hidden::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari */
}

.scrollbar-hidden {
    -ms-overflow-style: none;
    /* IE, Edge */
    scrollbar-width: none;
    /* Firefox */
}