@import "tailwindcss";


@font-face {
    font-family: "IgraSans";
    src: url("./shared/fonts/IgraSans.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
}

@theme {
    --color-primary: #1b1920;
    --color-secondary: #272735;
    --font-sans: "IgraSans", ui-sans-serif, system-ui, sans-serif;
    --text-title: 36px;
    --text-subtitle: 24px;
    --text-default: 18px;
    --text-small: 14px;
}




/* Для Firefox */
* {
    scrollbar-width: thin;
}